
*,*::before,*::after {
    transition: all 0.3s ease;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    
    background: var(--bgColor);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    cursor: none;
}

.dark-mode {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

.dark-mode article {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.09);
}

header {
    position: fixed;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */


    top: 0;
    width: 100%;
    height: 11em;
    border-radius: 0px 0px 16px 16px; ;
    z-index: 50;

    /* From https://css.glass */
background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(25px);
-webkit-backdrop-filter: blur(25px);
border: 1px solid light-dark(rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23));

}

header.compact {
    height: 5em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.visibleMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburgerMenu {
    display: block;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 1em;
    right: 1em;
    /* border: 2px solid green;
    width: 30em; */
}

#menuToggle {
    display: block;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 1001;

}

.hamburgerMenu span {
    display: block;
    width: 2em;
    height: 4px;
    background: red;
    margin-bottom: 5px;
    position: relative;
    transform-origin: 4px 0px;
}

.hamburgerMenu button {
    text-decoration: none;
    padding: 20px;
    border-radius: 16px;
    margin-left: 16px;
    width: 80%;
    color: white;

    border-radius: 16px;
    /* padding: 0.5em 1em; */



        /* From https://css.glass */
    background: light-dark(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.22));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid light-dark(rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23));


    box-shadow: 0 5px 90px light-dark(white, black);

    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.6s ease;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    width: 20em;
    top: 10em;
    height: 100vh;
    border-radius: 16px;
    border: 2px solid red;
    background-color: brown;
    /* transform: translate(100%, 0); */
    list-style: none;
}

.hamburgerMenu input:checked ~ span:nth-child(1) {
    transform: rotate(135deg);
}

.hamburgerMenu input:checked ~ .menu {
    top: 10em;
    transform: translate(0, 0);
}

h1 {
    font-size: 40px;
    color: light-dark(black, white);
    
    text-shadow: 5px 2px 300px light-dark(black, white);

    color: var(--bgColor);
  filter: 
    invert(1) 
    grayscale(1) 
    brightness(calc(var(--cutoff) / 100))
    contrast(9000)
  ;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideInTop 1s ease-out forwards;
  animation-delay: 1s;
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header.compact h1 {
    font-size: 28px;
    margin-left: 2em;
    margin-right: 2em;
}

/* ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;
    width: 30%;
    font-size: 24px;
}

header.compact ul {
    font-size: 16px;
    width: 20%;
}
li {
    border-radius: 16px;
    padding: 0.5em 1em;



        /* From https://css.glass */
    /* background: light-dark(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.22));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid light-dark(rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0.23));


    box-shadow: 0 5px 90px light-dark(white, black);

    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.6s ease;

    
} */


.hamburgerMenu button:hover {

    background-image: linear-gradient(
    115deg,
    transparent 35%,
    rgba(255, 255, 255, 0.3) 45%,
    rgba(200, 245, 255, 0.4) 50%,
    rgba(200, 200, 245, 0.4) 55%,
    transparent 70%
);

background-size: 300% 100%;
background-position: 0% 0%;
animation: shine 3s linear infinite;

transform: scale(1.1);
}

@keyframes shine {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: -100% 0%;
    }
} */

article.clicked {
    width: 90%;
    min-height: 50em;
    position: absolute;
    top: 30%;
    z-index: 1000;
}

.articleStyle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    margin-top: 20em;
    padding: 0;
}


.myProfile {

    /* margin-top: 40em;
    margin-left: 2em; */
    width: 40em;
    height: auto;
    min-height: 20em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

       /* From https://css.glass */
    background: light-dark(rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0.35));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid light-dark(rgba(0, 0, 0, 0.09), rgba(255, 255, 255, 0.09));
}

.randomProfile {
    /* margin-top: 5em;
    margin-left: 2em; */
    width: 40em;
    height: auto;
    min-height: 20em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;




        /* From https://css.glass */
    background: light-dark(rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0.35));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid light-dark(rgba(0, 0, 0, 0.09), rgba(255, 255, 255, 0.09));
}

.randomProfile.clicked {
    width: 90%;
    min-height: 50em;
    position: absolute;
    top: 30%;
    z-index: 1000;
}

.name, .nameB {
    font-size: 32px;
    margin-bottom: 0;
    color: light-dark(black, white);
    animation: slideIn 1s ease-out forwards;
}

.nickname {
    font-size: 24px;
    margin-top: 0;
    color: light-dark(black, white);
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.1s;
}

.bio, .bioB {
    font-size: 18px;
    width: 90%;
    color: light-dark(black, white);
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.3s;
}

.birthDate, .birtDateB {
    font-size: 18px;
    color: light-dark(black, white);
    animation: slideIn 1s ease-out forwards;
    animation-delay: 0.4s;
}

.favColor, .favColorB {
    margin-left: -1em;
    padding: 1em;
    border-radius: 16px;
    font-size: 18px;
    color: light-dark(black, white);
    text-shadow: 0px 0px 20px light-dark(white, black);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* .bio, .birthDate {
    animation: widthGrow 1s ease-out forwards;
    animation-delay: 5s;
}

@keyframes widthGrow {
    0% {
        opacity: 0;
        width: 20%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
} */


.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeOut 5s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        backdrop-filter: blur(20px);
        opacity: 1;
    }
    100% {
        backdrop-filter: blur(0px);
        opacity: 0;
        visibility: hidden;
    }
}


/* https://css-loaders.com/classic/ */

.loader {
  position: relative;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;
  font-size: 48px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
  
}
.loader:before {
  content:"Hello...\AHallo...\Aਸਤਿ ਸ੍ਰੀ ਅਕਾਲ ...\AHola...\A Bonjour...\A Ciao...";
  white-space: pre;
  display:inline-block;
  animation: l38 1s infinite steps(6);
}

@keyframes l38 {
  100%{transform: translateY(-100%)}
}




















/* mouse-glow effect */

.mouse-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background: radial-gradient(circle, rgba(355, 355, 355, 0.5) 0%, rgba(0, 0, 0, 0.05) 70%, transparent 70%); */
    background: light-dark(black, white);
    /* filter: blur(40px); */
    transform: translate(-50%, -50%);
    /* mix-blend-mode: screen; */
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    box-shadow: light-dark(0px 0px 40px rgba(0, 0, 0, 0.7), 0px 0px 40px rgba(255, 255, 255, 0.7));
    animation: shadow-pulse 5s infinite;
    transition: transform 0.8s ease-in-out;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: light-dark(0px 0px 40px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.5));
        transition: rotate(0deg);

        width: 50px;
        height: 50px;
    }
    50% {
        box-shadow: light-dark(0px 0px 40px rgba(0, 0, 0, 0.7), 0px 0px 40px rgba(255, 255, 255, 0.7));
        transition: rotate(360deg);

        width: 40px;
        height: 40px;
    }
    100% {
        box-shadow: light-dark(0px 0px 40px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.5));
        transition: rotate(0deg);

        width: 50px;
        height: 50px;
    }
}

.mouse-glow.hovered {
    z-index: 1000;
    width: 70px;
    height: 70px;
    background-color: transparent;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    animation: shadow-pulse-hover 1s infinite;
}

@keyframes shadow-pulse-hover {
    0% {
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    }
    50% {
        box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.7);
    }
    100% {
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    }
}
